body {
  background-color: #ffffff;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0; }
  body.wt-theme-dark {
    background-image: none;
    background-color: #12161F; }
  body.no-scroll {
    overflow: hidden; }

.bg-gradient {
  background-image: linear-gradient(#F5F7FA, white); }

.wt-theme-dark .bg-gradient {
  background-image: linear-gradient(#12161F, #12161F); }

.wt-button {
  align-items: center;
  background-color: #1FBCF0;
  border: none;
  border-radius: 100px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.1em;
  padding: 0 40px;
  transition: all 0.2s ease; }
  .wt-button.wt-button--large {
    height: 60px;
    padding: 0 50px;
    font-size: 14px; }
  .wt-button:hover {
    background: #1A9FCB; }
  .wt-button.button--red {
    background-color: #FF2727; }
    .wt-button.button--red:hover {
      background-color: #F44336; }
  .wt-button.button--gray {
    background-color: #373942; }
  .wt-button.button--parrot_green {
    background-color: #8BC34A; }

.button-circular {
  align-items: center;
  background: none;
  border: 2px solid #1FBCF0;
  border-radius: 100%;
  cursor: pointer;
  color: #1FBCF0;
  display: flex;
  height: 48px;
  justify-content: center;
  position: relative;
  transition: all 0.2s ease-out;
  width: 48px; }
  .button-circular i {
    font-size: 20px; }
  .button-circular:hover {
    background-color: #1FBCF0;
    color: #ffffff; }
  .button-circular.button--gray {
    color: #454463;
    border-color: #E4EBF0; }
    .button-circular.button--gray:hover {
      background-color: #454463;
      border-color: #454463;
      color: #ffffff; }
  .button-circular.button--filled {
    background: #1FBCF0;
    color: #ffffff; }
  .button-circular.button--center {
    margin: 0 auto; }

button:active,
button:target,
button:visited,
button:focus {
  outline: none !important;
  box-shadow: none !important; }

.play-button-with-text a {
  align-items: center;
  display: flex;
  float: left;
  text-decoration: none; }
  .play-button-with-text a > span {
    color: #1FBCF0;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
    letter-spacing: 0.05em; }
  .play-button-with-text a:hover .button-circular {
    background-color: #1FBCF0;
    color: #ffffff; }

a:hover .button--pulsate,
.pulsate {
  animation: shadow-pulse 2s infinite; }
  a:hover .button--pulsate:before,
  .pulsate:before {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    animation: shadow-pulse 2s infinite;
    animation-delay: 1s; }

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(31, 188, 240, 0.5); }
  100% {
    box-shadow: 0 0 0 20px rgba(31, 188, 240, 0); } }

@keyframes click-simulation {
  0% {
    box-shadow: 0 0 0 0px #ff2727; }
  60% {
    box-shadow: 0 0 0 20px rgba(255, 39, 39, 0.5); }
  100% {
    box-shadow: 0 0 0 50px rgba(255, 39, 39, 0); } }

.wt-navbar-brand {
  background-image: url("../images/wootag-logo-light.svg");
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  height: 24px;
  width: 110px; }

.wt-theme-dark .wt-navbar-brand {
  background-image: url("../images/wootag-logo-dark.svg"); }

.wt-title {
  color: #454463;
  font-family: 'Rubik', sans-serif;
  font-weight: 300; }

.wt-title__large {
  font-size: 48px;
  margin: 0 0 30px;
  line-height: 1.2em; }

.section-title {
  color: #454463;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 12px; }

.section-subtitle {
  color: #454463;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.2em;
  margin-bottom: 24px; }

p {
  color: #8B909F;
  font-size: 16px;
  line-height: 1.7em; }
  p :last-of-type {
    margin-bottom: 10px; }
  p.large {
    font-size: 16px; }

ol.wt-ol li {
  color: #8B909F;
  font-size: 16px;
  line-height: 1.7em;
  list-style-type: upper-roman; }
  ol.wt-ol li ul li {
    list-style-type: lower-roman; }

ul {
  list-style: none; }

a, a:hover {
  transition: color 0.2s ease;
  text-decoration: none; }
  a.link, a:hover.link {
    display: inline-block; }
  a.link-wt-blue, a:hover.link-wt-blue {
    color: #1FBCF0; }
    a.link-wt-blue:hover, a:hover.link-wt-blue:hover {
      color: #1A9FCB; }

div.hr {
  height: 1px;
  width: 100%;
  background-color: #E4EBF0;
  margin: 40px 0; }

.wt-theme-dark .wt-title,
.wt-theme-dark .section-title,
.wt-theme-dark .section-subtitle {
  color: #ffffff; }

.wt-theme-dark div.hr {
  background-color: #20252d; }

/* centered columns styles */
.row-centered {
  display: block; }

.row__padTB100 {
  padding-bottom: 50px;
  padding-top: 50px; }

.row__padT100 {
  padding-top: 50px; }

.row__padT120 {
  padding-top: 60px; }

.row__padB100 {
  padding-bottom: 50px; }

.row__padT30 {
  padding-top: 30px; }

.marT50 {
  margin-top: 50px; }

.marB0 {
  margin-bottom: 0 !important; }

.row {
  outline: none; }

@media (min-width: 992px) {
  .wt-title__large {
    font-size: 76px;
    margin: 0 0 30px; }
  .section-subtitle {
    font-size: 54px;
    line-height: 70px;
    margin-bottom: 36px; }
  p {
    font-size: 18px; }
    p:last-of-type {
      margin-bottom: 30px; }
    p.large {
      font-size: 20px; }
  ol.wt-ol li {
    font-size: 18px; }
  .row__padTB100 {
    padding-bottom: 100px;
    padding-top: 100px; }
  .row__padT100 {
    padding-top: 100px; }
  .row__padT120 {
    padding-top: 120px; }
  .row__padB100 {
    padding-bottom: 100px; }
  .row-centered {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; } }

@media (max-width: 767px) {
  .wt-button.center-on-mobile {
    margin-left: auto;
    margin-right: auto; } }

.iframe-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  .iframe-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.overlay-lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2147483647;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.2s ease; }
  .overlay-lightbox .overlay-content {
    max-width: none;
    width: 100%;
    background-color: #12161F;
    position: relative; }
  .overlay-lightbox .button-close {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%); }
    .overlay-lightbox .button-close .button-circular {
      width: 30px;
      height: 30px; }
  .overlay-lightbox.visible {
    display: flex;
    opacity: 1; }
  @media (min-width: 768px) {
    .overlay-lightbox .overlay-content {
      max-width: 70%; }
    .overlay-lightbox .button-close {
      bottom: -60px; }
      .overlay-lightbox .button-close .button-circular {
        width: 48px;
        height: 48px; } }
  @media screen and (orientation: portrait) {
    .overlay-lightbox .overlay-content {
      width: 100%; } }
  @media screen and (orientation: landscape) {
    .overlay-lightbox .overlay-content {
      width: 80%; } }

.animation-container {
  overflow-x: hidden; }

.form__error {
  margin: 0 0 10px 0;
  padding: 0; }
  .form__error li {
    padding: 10px;
    border: 1px solid #F5F7FA;
    border-radius: 5px;
    background-color: #ff5e5b;
    color: white;
    margin-bottom: 10px; }

.form-control {
  border-radius: 5px; }

::placeholder {
  font-size: 14px;
  color: #8B909F !important; }

.input-group-addon {
  border-radius: 5px;
  border: none; }

input {
  height: 50px !important;
  border: 1px solid #E1E4EB !important;
  background: white; }
  input.form-control.large {
    height: 60px !important;
    min-width: 200px;
    border-radius: 8px;
    font-size: 18px; }
    input.form-control.large::placeholder {
      font-size: 18px !important; }

.wt-theme-dark input {
  background: #12161F;
  color: #ffffff;
  border-color: #20252d !important; }

.wt-theme-dark ::placeholder {
  color: #ffffff !important; }

/* 
// Header Starts---
*/
header {
  height: 100px;
  position: fixed;
  top: 0;
  transition: height 0.1s ease-in-out;
  width: 100%;
  z-index: 500; }
  header::before {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none !important;
    opacity: 0;
    transition: all 0.2s ease; }
  header.subnav-active::before {
    display: none !important; }
  header.hasScrolled {
    height: 60px;
    box-shadow: 0 0 1px 1px rgba(34, 45, 57, 0.15); }
    header.hasScrolled .wt-navbar-container {
      transition: height 0.1s ease-in-out;
      height: 60px; }
    header.hasScrolled .navbar-dropdown {
      top: 0; }
  @media (min-width: 768px) {
    header.hasScrolled {
      height: 80px; }
      header.hasScrolled .wt-navbar-container {
        height: 80px; }
      header.hasScrolled .navbar-dropdown {
        top: 80px; }
    header.subnav-active::before {
      opacity: 1;
      display: block !important; } }
  header.mobile-active .wt-navbar .wt-navbar-container .wt-navbar-left {
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: white;
    padding: 20px 15px 80px;
    overflow-y: auto; }
  header.mobile-active .wt-navbar-logo {
    height: 60px;
    display: flex;
    align-items: center; }
  header.mobile-active .wt-navbar-items {
    display: block;
    padding-left: 0;
    align-items: flex-start; }
    header.mobile-active .wt-navbar-items li {
      margin: 35px 0; }
      header.mobile-active .wt-navbar-items li a {
        font-size: 13px; }

/* 
// Header Ends---
*/
.wt-body {
  padding-top: 80px; }

/* 
// Navbar Starts---
*/
.wt-navbar-bg {
  background: #fff;
  height: inherit; }

.wt-navbar .wt-navbar-container {
  align-items: center;
  display: flex;
  height: 100px; }
  .wt-navbar .wt-navbar-container .wt-navbar-left {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    align-items: center; }
  .wt-navbar .wt-navbar-container .wt-navbar-right {
    display: none;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto; }
    .wt-navbar .wt-navbar-container .wt-navbar-right .login_link a {
      color: #1FBCF0;
      font-size: 12px;
      font-weight: 500;
      text-decoration: none;
      margin-right: 30px;
      letter-spacing: 0.05em; }
      .wt-navbar .wt-navbar-container .wt-navbar-right .login_link a:hover {
        color: #1A9FCB; }
    @media (min-width: 992px) {
      .wt-navbar .wt-navbar-container .wt-navbar-right {
        display: flex; } }

.wt-navbar-items {
  align-items: center;
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 5em; }
  .wt-navbar-items li {
    margin: 0 20px; }
    .wt-navbar-items li a {
      color: #454463;
      font-size: 12px;
      font-weight: 500;
      text-decoration: none;
      letter-spacing: 0.05em;
      display: flex; }
      .wt-navbar-items li a i {
        line-height: 12px;
        color: #454463; }
    .wt-navbar-items li.selected a {
      color: #1FBCF0; }

.wt-button--navbar {
  padding: 0 43px;
  display: none; }

.hide-for-small {
  display: none; }

.navbar-dropdown {
  background: white;
  border: none;
  display: none;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  margin-top: 10px;
  padding: 20px 0 0px; }
  .navbar-dropdown .subnav-title {
    font-size: 18px;
    font-weight: 400;
    color: #454463;
    margin-bottom: 10px; }
  .navbar-dropdown .subnav-description {
    font-size: 14px;
    font-weight: 400;
    color: #8B909F; }
  .navbar-dropdown .button-circular {
    border: 1px solid #E4EBF0; }
    .navbar-dropdown .button-circular i {
      color: #1FBCF0; }
  .navbar-dropdown .subnav-item {
    margin-bottom: 20px; }
    .navbar-dropdown .subnav-item:last-child {
      margin-bottom: 0; }
  .navbar-dropdown .subnav-link {
    padding-right: 0px;
    display: inline-block; }
    .navbar-dropdown .subnav-link .button-circular {
      display: none; }
    .navbar-dropdown .subnav-link.selected .subnav-title, .navbar-dropdown .subnav-link:hover .subnav-title {
      color: #1FBCF0; }
    .navbar-dropdown .subnav-link.selected .subnav-description, .navbar-dropdown .subnav-link:hover .subnav-description {
      color: #454463; }
    .navbar-dropdown .subnav-link.selected .button-circular, .navbar-dropdown .subnav-link:hover .button-circular {
      background-color: #1FBCF0;
      border-color: #1FBCF0; }
      .navbar-dropdown .subnav-link.selected .button-circular i, .navbar-dropdown .subnav-link:hover .button-circular i {
        color: #ffffff; }
  @media (min-width: 992px) {
    .navbar-dropdown {
      position: fixed;
      border-top: 1px solid #E4EBF0;
      top: 100px;
      margin-top: 0;
      padding: 0; }
      .navbar-dropdown > .container {
        padding-top: 50px;
        padding-bottom: 50px; }
      .navbar-dropdown .subnav-title {
        font-size: 24px;
        margin-bottom: 16px; }
      .navbar-dropdown .subnav-description {
        font-size: 16px; }
      .navbar-dropdown .subnav-link {
        padding-right: 70px;
        margin-bottom: 0px; }
        .navbar-dropdown .subnav-link .button-circular {
          display: flex; } }

.wt-theme-dark .navbar-dropdown {
  background: #12161F; }
  .wt-theme-dark .navbar-dropdown .subnav-title {
    color: #ffffff; }
  .wt-theme-dark .navbar-dropdown .subnav-description {
    color: #8B909F; }
  .wt-theme-dark .navbar-dropdown .button-circular {
    border: 1px solid #20252d; }
    .wt-theme-dark .navbar-dropdown .button-circular i {
      color: #1FBCF0; }
  .wt-theme-dark .navbar-dropdown .subnav-link.selected .subnav-description, .wt-theme-dark .navbar-dropdown .subnav-link:hover .subnav-description {
    color: #ffffff; }
  @media (min-width: 992px) {
    .wt-theme-dark .navbar-dropdown {
      border-color: #20252d; } }

@media (min-width: 992px) {
  .wt-navbar-items,
  .wt-button--navbar {
    display: flex; }
  .wt-navbar-left {
    flex-basis: auto !important; }
  .hide-for-small {
    display: block; } }

@media (min-width: 993px) and (max-width: 1200px) {
  .wt-navbar-items {
    padding-left: 2em; }
    .wt-navbar-items li {
      margin: 0 1em; } }

.wt-theme-dark header.hasScrolled {
  box-shadow: 0 0 1px 1px rgba(131, 131, 131, 0.15); }

.wt-theme-dark header .wt-navbar-bg {
  background: #12161F; }

.wt-theme-dark header .wt-navbar .wt-navbar-container .wt-navbar-left {
  background: #12161F; }

.wt-theme-dark header .wt-navbar .wt-navbar-items li a {
  color: #ffffff; }

.wt-theme-dark header .wt-navbar .wt-navbar-items li.selected a {
  color: #1FBCF0; }

.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: auto; }
  .mobile-menu-btn .menu-open {
    height: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
  .mobile-menu-btn .menu-close {
    display: none; }
  .mobile-menu-btn .bar {
    height: 2px;
    width: 18px;
    background: #454463;
    transition: all 0.2s ease; }
  .mobile-menu-btn.isOpen .bar {
    -webkit-transform: rotate(-45deg) translate(-5px, 2px);
    transform: rotate(-45deg) translate(-5px, 2px); }
  .mobile-menu-btn.isOpen .bar:nth-child(2) {
    -webkit-transform: rotate(45deg) translate(-2px, -8px);
    transform: rotate(45deg) translate(-2px, 0px); }

.wt-theme-dark .mobile-menu-btn .bar {
  background: #ffffff; }

.wt-theme-dark .button--gray {
  color: #ffffff;
  border-color: #454463; }
  .wt-theme-dark .button--gray:hover {
    background-color: #454463;
    border-color: #454463;
    color: #ffffff; }

@media (min-width: 992px) {
  .mobile-menu-btn {
    display: none; } }

/* 
// Navbar Ends---
*/
/*
// Home Logo Slider---
*/
.slider-client-logos {
  margin-bottom: 50px; }
  .slider-client-logos .slick-slide {
    width: 140px; }
    .slider-client-logos .slick-slide img {
      margin: 0 auto; }
  .slider-client-logos.explore-logos {
    margin: 50px 0 20px; }
    .slider-client-logos.explore-logos .slick-slide img {
      margin: 0; }

.zIndexOne {
  z-index: 1;
  position: relative; }

.demo-featured-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 66px 66px -36px rgba(0, 0, 0, 0); }
  .demo-featured-player .video-demo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .demo-featured-player .featured-player {
    background: gray;
    width: 100%;
    position: relative;
    overflow: visible; }
    .demo-featured-player .featured-player img {
      width: 100%;
      height: auto; }
  .demo-featured-player .pulse-bg-animation {
    position: absolute;
    width: 1000px;
    height: 1000px;
    display: none; }
    .demo-featured-player .pulse-bg-animation .pulse {
      border-radius: 100%;
      border: 1px solid #1FBCF0;
      position: absolute;
      width: 100%;
      height: 100%;
      transform: scale(0); }
    .demo-featured-player .pulse-bg-animation .pulse:nth-child(1) {
      animation: move 6s infinite ease-out; }
    .demo-featured-player .pulse-bg-animation .pulse:nth-child(2) {
      animation: move2 7s infinite ease-out; }
    .demo-featured-player .pulse-bg-animation .pulse:nth-child(3) {
      animation: move3 8s infinite ease-out; }
  @media (min-width: 992px) {
    .demo-featured-player {
      box-shadow: 0 66px 66px -36px rgba(0, 0, 0, 0.4); }
      .demo-featured-player .pulse-bg-animation {
        display: block; }
      .demo-featured-player .featured-player {
        overflow: hidden; } }

@keyframes move {
  50%, 100% {
    opacity: 0;
    transform: scale(1); }
  0% {
    opacity: 1; } }

@keyframes move2 {
  60%, 100% {
    opacity: 0;
    transform: scale(1); }
  0%, 32% {
    opacity: 0;
    transform: scale(0); }
  33% {
    opacity: 1; } }

@keyframes move3 {
  100% {
    opacity: 0;
    transform: scale(1); }
  0%, 66% {
    opacity: 0;
    transform: scale(0); }
  67% {
    opacity: 1; } }

/*
// Persona Section Starts---
*/
.persona-img {
  overflow: hidden; }
  .persona-img img {
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: all 0.3s ease-in-out; }

.persona-card {
  position: relative;
  margin-top: 30px; }
  .persona-card a:hover .persona-img img {
    transform: scale(1.02); }
  .persona-card .persona-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 40px; }
    .persona-card .persona-text h3 {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400; }
    .persona-card .persona-text p {
      font-size: 16px;
      color: #ffffff; }

@media (max-width: 767px) {
  .noHoriPaddingOnMobile {
    padding-left: 0px;
    padding-right: 0px; } }

/*
// Persona Section Ends---
*/
/*
// Sitback & interact Section Starts---
*/
.section-sitback_interact {
  background: #12161F; }
  .section-sitback_interact .wt-title {
    color: #ffffff; }
  .section-sitback_interact .slider-sitback_interact {
    margin-top: 50px; }
  .section-sitback_interact .slide-sitback {
    align-items: center;
    display: flex; }
    @media (max-width: 768px) {
      .section-sitback_interact .slide-sitback .col-sm-12 {
        width: 100%; } }
  .section-sitback_interact .sitback-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .section-sitback_interact .sitback-content h3 {
      font-size: 30px;
      line-height: 42px;
      font-weight: 300;
      color: #ffffff; }
  .section-sitback_interact .sitback-comment::before {
    background: #454463;
    content: '';
    display: inline-block;
    height: 1px;
    margin: 15px 0;
    width: 80px;
    opacity: 0.5; }
  .section-sitback_interact .sitback-comment .comment-text {
    color: #ffffff;
    font-size: 16px;
    line-height: 28px; }
  .section-sitback_interact .sitback-comment .comment-by {
    color: #A0A6AF;
    font-size: 16px;
    line-height: 28px; }
  .section-sitback_interact .slider-buttons {
    display: flex;
    margin-top: 20px; }
    .section-sitback_interact .slider-buttons > .slick-arrow:first-child {
      margin-right: 20px; }
    .section-sitback_interact .slider-buttons .button--gray {
      border-width: 1px;
      border-color: white;
      color: white; }
      .section-sitback_interact .slider-buttons .button--gray i {
        font-size: 24px; }
    .section-sitback_interact .slider-buttons .slick-arrow:not(.slick-disabled) .button--gray:hover {
      background: white;
      color: #454463; }
    .section-sitback_interact .slider-buttons .slick-disabled .button--gray {
      opacity: 0.3;
      cursor: default; }
      .section-sitback_interact .slider-buttons .slick-disabled .button--gray:hover {
        background: none; }
  @media (min-width: 767px) {
    .section-sitback_interact .sitback-content h3 {
      font-size: 36px;
      line-height: 45px; }
    .section-sitback_interact .sitback-comment::before {
      margin: 30px 0; }
    .section-sitback_interact .slider-buttons {
      margin-top: 0px; } }

/*
// Sitback & interact Section Ends---
*/
/*
// Testimonial Section Starts---
*/
.section-testimonial {
  background-image: linear-gradient(#F5F7FA, white); }
  .section-testimonial .testimonial-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .section-testimonial .testimonial-thumb {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    background-size: cover;
    margin-bottom: 30px; }
  .section-testimonial .testimonial-text {
    font-size: 20px;
    font-style: italic;
    color: #454463; }
    .section-testimonial .testimonial-text::before {
      content: open-quote; }
    .section-testimonial .testimonial-text::after {
      content: close-quote; }
  .section-testimonial .testimonial-author {
    font-size: 12px;
    font-weight: 500;
    margin-top: 20px;
    color: #454463; }

/*
// Testimonial Section Ends---
*/
/*
// Personas Section Starts---
*/
/*
// Personas Section Ends---
*/
/*
// Get Started Section Starts---
*/
.section-get_started {
  background: white; }

.wt-theme-dark .section-get_started {
  background: #12161F; }

/*
// Get Started Section Ends---
*/
/*
// Footer Starts---
*/
footer {
  background: white;
  border-top: 1px solid #E4EBF0; }
  footer > div {
    padding: 20px 0; }
  footer .hr {
    margin-top: 0px; }
  footer h4 {
    margin-top: 50px;
    color: #454463;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 20px; }
  footer ul.footer-links {
    margin: 0;
    padding: 0; }
    footer ul.footer-links li {
      margin: 10px 0; }
      footer ul.footer-links li a {
        color: #454463;
        font-size: 14px;
        font-weight: 400; }
        footer ul.footer-links li a:hover {
          color: black;
          text-decoration: none; }
      footer ul.footer-links li:last-child {
        margin-bottom: 0; }
  footer div.footer-newsletter p {
    color: #8B909F;
    font-size: 12px;
    margin-bottom: 25px; }
  footer div.footer-newsletter .input-group-addon {
    width: 54px !important;
    background: #1FBCF0;
    padding: 0; }
    footer div.footer-newsletter .input-group-addon:hover {
      background: #1A9FCB; }
    footer div.footer-newsletter .input-group-addon a {
      color: #ffffff;
      width: 100%;
      height: 100%;
      display: inline-block; }
      footer div.footer-newsletter .input-group-addon a i {
        font-size: 18px; }
  footer div.footer-newsletter .input-group, footer div.footer-newsletter .form-group {
    width: 100%; }
  footer .footer-copyright {
    color: #8B909F;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    padding-bottom: 40px; }
    footer .footer-copyright .footer-social-links {
      display: flex;
      margin: 30px 0; }
      footer .footer-copyright .footer-social-links > div:nth-child(2) {
        margin: 0 40px; }
      footer .footer-copyright .footer-social-links .social-icons {
        fill: #8B909F; }
      footer .footer-copyright .footer-social-links .wt-social-facebook .icon,
      footer .footer-copyright .footer-social-links .wt-social-twitter .icon,
      footer .footer-copyright .footer-social-links .wt-social-linkedin .icon {
        height: 40px;
        width: 40px; }
        footer .footer-copyright .footer-social-links .wt-social-facebook .icon path,
        footer .footer-copyright .footer-social-links .wt-social-twitter .icon path,
        footer .footer-copyright .footer-social-links .wt-social-linkedin .icon path {
          transition: fill 0.2s ease; }
      footer .footer-copyright .footer-social-links .wt-social-facebook:hover #Facebook {
        fill: #3b5998; }
      footer .footer-copyright .footer-social-links .wt-social-twitter:hover #Twitter {
        fill: #1DA1F2; }
      footer .footer-copyright .footer-social-links .wt-social-linkedin:hover #linkedIn {
        fill: #0077B5; }
  @media (min-width: 768px) {
    footer .hr {
      margin-top: 20px; }
    footer .footer-copyright {
      display: flex;
      justify-content: space-between;
      flex-direction: row; }
      footer .footer-copyright .footer-social-links {
        margin: 0; }
        footer .footer-copyright .footer-social-links > div:nth-child(2) {
          margin: 0 30px; }
        footer .footer-copyright .footer-social-links .wt-social-facebook .icon,
        footer .footer-copyright .footer-social-links .wt-social-twitter .icon,
        footer .footer-copyright .footer-social-links .wt-social-linkedin .icon {
          height: 18px;
          width: 18px; }
        footer .footer-copyright .footer-social-links i {
          color: #8B909F;
          font-size: 20px; } }

.wt-theme-dark footer {
  background: #12161F;
  border-color: #20252d; }
  .wt-theme-dark footer h4 {
    color: #ffffff; }
  .wt-theme-dark footer ul.footer-links li a {
    color: #ffffff; }
    .wt-theme-dark footer ul.footer-links li a:hover {
      color: #E4EBF0; }
  .wt-theme-dark footer div.footer-newsletter p {
    color: #ffffff; }

/*
// Footer Ends---
*/
/*
* Platform Tour page styles---
*/
.platform-interactivity .slider-platform-interactivity {
  margin-top: 30px;
  margin-bottom: 40px;
  position: relative; }
  .platform-interactivity .slider-platform-interactivity .slick-slide {
    outline: none; }
  .platform-interactivity .slider-platform-interactivity .slick-track {
    border-bottom: 1px solid #E4EBF0; }
    .platform-interactivity .slider-platform-interactivity .slick-track .magic-line {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0px;
      content: '';
      border-bottom: 1px solid #454463; }

.platform-interactivity .slide-platform-interactivity {
  cursor: pointer;
  outline: none;
  opacity: 0.5;
  padding-bottom: 60px; }
  .platform-interactivity .slide-platform-interactivity .item-icon {
    align-items: center;
    border-radius: 100%;
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 0 auto;
    width: 100%; }
    .platform-interactivity .slide-platform-interactivity .item-icon img {
      width: 40px; }
  .platform-interactivity .slide-platform-interactivity .item-name {
    margin-top: 12px;
    text-align: center;
    font-size: 14px;
    color: #454463; }
  .platform-interactivity .slide-platform-interactivity:hover, .platform-interactivity .slide-platform-interactivity.selected {
    opacity: 1; }

.platform-interactivity .slider-buttons {
  position: absolute;
  width: 100%;
  margin-top: 10px;
  top: 50%;
  left: 0; }
  .platform-interactivity .slider-buttons .interactivity-slide-prev-button,
  .platform-interactivity .slider-buttons .interactivity-slide-next-button {
    position: absolute;
    top: 0;
    left: 0; }
  .platform-interactivity .slider-buttons .interactivity-slide-next-button {
    right: 0;
    left: auto; }
  .platform-interactivity .slider-buttons .slick-arrow:not(.slick-disabled) .button--gray {
    width: 30px;
    height: 30px;
    border-color: transparent; }
    .platform-interactivity .slider-buttons .slick-arrow:not(.slick-disabled) .button--gray:hover {
      background: white;
      color: #454463; }
  .platform-interactivity .slider-buttons .slick-disabled .button--gray {
    opacity: 0.3;
    width: 30px;
    height: 30px;
    border: none;
    cursor: default; }
    .platform-interactivity .slider-buttons .slick-disabled .button--gray:hover {
      background: none;
      border-color: transparent;
      color: #454463; }

.platform-interactivity .interactivity-item-detail {
  display: none;
  text-align: center; }
  .platform-interactivity .interactivity-item-detail.visible {
    display: block;
    animation: fadeIn 0.5s ease-in-out; }

@media (min-width: 767px) {
  .platform-interactivity .slider-platform-interactivity {
    margin-top: 50px;
    margin-bottom: 60px; }
  .platform-interactivity .slide-platform-interactivity {
    padding-bottom: 40px; }
    .platform-interactivity .slide-platform-interactivity .item-icon {
      height: 80px;
      width: 100%; }
      .platform-interactivity .slide-platform-interactivity .item-icon img {
        width: 56px;
        height: auto; }
  .platform-interactivity .slider-buttons .interactivity-slide-prev-button {
    left: -20px; }
  .platform-interactivity .slider-buttons .interactivity-slide-next-button {
    right: -20px; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.platform-items {
  overflow: hidden; }
  .platform-items .platform-item .platform-item-container {
    display: block;
    align-items: center; }
    .platform-items .platform-item .platform-item-container .platform-item-img {
      display: block;
      justify-content: flex-end; }
      .platform-items .platform-item .platform-item-container .platform-item-img img {
        width: 100%;
        height: auto; }
      .platform-items .platform-item .platform-item-container .platform-item-img.platform-analytics-img .analytics-top-img {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto; }
        .platform-items .platform-item .platform-item-container .platform-item-img.platform-analytics-img .analytics-top-img > img {
          width: 50%;
          height: auto; }
    .platform-items .platform-item .platform-item-container .platform-item-text {
      padding-left: 15px;
      padding-right: 15px; }
  .platform-items .platform-item:nth-child(2n-1) .platform-item-container {
    flex-direction: row-reverse; }
    .platform-items .platform-item:nth-child(2n-1) .platform-item-container .platform-item-img {
      justify-content: center; }
      .platform-items .platform-item:nth-child(2n-1) .platform-item-container .platform-item-img img {
        box-shadow: none; }
    .platform-items .platform-item:nth-child(2n-1) .platform-item-container .platform-item-text {
      padding-right: 15px;
      padding-left: 15px; }
  @media (min-width: 992px) {
    .platform-items .platform-item .platform-item-container {
      display: flex; }
      .platform-items .platform-item .platform-item-container .platform-item-img {
        display: flex; }
        .platform-items .platform-item .platform-item-container .platform-item-img img {
          box-shadow: 0px 40px 99px 0px rgba(66, 65, 92, 0.16);
          width: auto; }
        .platform-items .platform-item .platform-item-container .platform-item-img.platform-analytics-img {
          display: block;
          position: relative; }
          .platform-items .platform-item .platform-item-container .platform-item-img.platform-analytics-img img {
            box-shadow: none; }
          .platform-items .platform-item .platform-item-container .platform-item-img.platform-analytics-img .analytics-top-img {
            margin-bottom: -50px; }
            .platform-items .platform-item .platform-item-container .platform-item-img.platform-analytics-img .analytics-top-img > img {
              width: 70%;
              height: auto;
              box-shadow: 0px 20px 48px 0px rgba(66, 65, 92, 0.16); }
      .platform-items .platform-item .platform-item-container .platform-item-text {
        padding-right: 15px;
        padding-left: 100px; }
    .platform-items .platform-item:nth-child(2n-1) .platform-item-container {
      flex-direction: row-reverse; }
      .platform-items .platform-item:nth-child(2n-1) .platform-item-container .platform-item-img {
        justify-content: flex-start; }
        .platform-items .platform-item:nth-child(2n-1) .platform-item-container .platform-item-img img {
          box-shadow: 0px 40px 99px 0px rgba(66, 65, 92, 0.16); }
      .platform-items .platform-item:nth-child(2n-1) .platform-item-container .platform-item-text {
        padding-right: 100px;
        padding-left: 15px; } }
  @media (max-width: 768px) {
    .platform-items .platform-item .col-sm-12 {
      width: 100%; } }

/*
* Explore page styles---
*/
.explore-featured .slide-sitback {
  padding-bottom: 60px;
  display: block; }
  .explore-featured .slide-sitback:nth-child(2n) {
    flex-direction: row-reverse; }

@media (min-width: 767px) {
  .explore-featured .slide-sitback {
    display: flex;
    padding-bottom: 120px; } }

#explore-videos {
  outline: none; }

#explore_video_items .video_item {
  overflow: hidden;
  margin-bottom: 30px; }
  #explore_video_items .video_item a {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    outline: 0;
    overflow: hidden; }
    #explore_video_items .video_item a .img {
      position: relative;
      height: 0;
      padding-bottom: 56.25%;
      background-color: #fff;
      margin: 0; }
      #explore_video_items .video_item a .img img {
        width: 100%;
        height: auto; }
    #explore_video_items .video_item a .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.2s ease;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      padding: 0 20px;
      align-items: center; }
    #explore_video_items .video_item a .button-circular {
      min-height: 60px;
      min-width: 60px; }
      #explore_video_items .video_item a .button-circular i {
        font-size: 24px; }
    #explore_video_items .video_item a .detail {
      margin-left: 24px;
      color: #ffffff; }
    #explore_video_items .video_item a .title {
      font-size: 24px;
      font-weight: 300; }
    #explore_video_items .video_item a .category {
      font-size: 12px;
      text-transform: capitalize; }
    #explore_video_items .video_item a:hover .overlay {
      background-color: rgba(0, 0, 0, 0); }
    #explore_video_items .video_item a:hover .detail {
      color: #1FBCF0;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); }
    #explore_video_items .video_item a:hover .button-circular {
      background-color: #1FBCF0;
      color: #ffffff; }
  @media (min-width: 768px) {
    #explore_video_items .video_item a .button-circular {
      min-height: 80px;
      min-width: 80px; }
    #explore_video_items .video_item a .overlay {
      padding: 0 80px; } }

/* 
// SignIn Page---
*/
.bg-gray {
  background: #E1E4EB;
  height: 100vh;
  width: 50vw; }

.sign-in-up-container {
  overflow-x: hidden; }
  .sign-in-up-container .wt-navbar-logo {
    margin-bottom: 30px; }

.wt-form .signin-label-aligner {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px; }
  .wt-form .signin-label-aligner label {
    font-weight: 400; }

.wt-form input {
  margin: 0 0 24px; }

.wt-form .wt-button {
  width: 200px;
  margin-top: 5px;
  display: inline-block; }

.wt-form .no-account {
  margin-top: 50px;
  color: #8B909F; }

#login-form,
#signup-form {
  margin-top: 50px; }

.article__privacy__content strong {
  font-weight: 400;
  color: #454463; }

/*
Why Wootag---
*/
.why-wootag-hero {
  padding: 50px 0 60px; }
  .why-wootag-hero img {
    width: 100%;
    height: auto;
    max-width: 100%; }
  .why-wootag-hero .section-subtitle {
    margin-bottom: 30px; }

.above-features-title {
  margin-bottom: 30px; }

.why-wootag-features {
  margin-top: 20px;
  text-align: center; }
  .why-wootag-features .feature-section {
    margin-top: 30px; }
  .why-wootag-features img {
    width: 100%;
    height: auto; }
  .why-wootag-features h3 {
    font-weight: 300;
    font-size: 24px;
    min-height: inherit;
    margin: 40px 0 20px; }
    @media (min-width: 767px) {
      .why-wootag-features h3 {
        min-height: 50px; } }
  .why-wootag-features p {
    padding: 0 30px;
    font-size: 16px; }

.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0; }
  .video-overlay .timeline {
    position: absolute;
    left: 5%;
    bottom: 15px;
    width: 90%; }
    .video-overlay .timeline .progressbar {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px; }
    .video-overlay .timeline .base {
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.2); }
    .video-overlay .timeline .progress {
      position: absolute;
      left: 0;
      top: 0;
      width: 20%;
      height: 1px;
      background-color: #1FBCF0;
      transition: all 0.01s linear; }
      .video-overlay .timeline .progress.start {
        width: 50%;
        transition: all 5s linear; }
    .video-overlay .timeline .dots {
      width: 100%; }
      .video-overlay .timeline .dots .dot {
        position: absolute;
        top: -2px;
        border-radius: 100%;
        width: 4px;
        height: 4px;
        background: white; }
    .video-overlay .timeline .tag-preview {
      position: absolute;
      bottom: 12px;
      left: 20%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.6);
      width: 80%;
      height: 48px;
      left: 0px;
      max-width: 360px;
      border-radius: 50px;
      transform: translateX(-50%);
      margin-left: 50%;
      opacity: 1;
      transition: all 0.2s ease-in-out; }
      .video-overlay .timeline .tag-preview .click-simulate {
        position: absolute;
        margin-left: 50%;
        left: 0;
        top: 25px;
        transform: translateX(-50%);
        width: 2px;
        height: 2px;
        border-radius: 100%;
        overflow: hidden; }
        .video-overlay .timeline .tag-preview .click-simulate.active {
          animation: click-simulation 0.5s 1;
          animation-delay: 1.6s; }
      .video-overlay .timeline .tag-preview .tag-img {
        background-size: cover;
        width: 40px;
        height: 40px;
        min-width: 40px;
        border-radius: 100%;
        overflow: hidden;
        margin: 5px 10px 5px 5px; }
      .video-overlay .timeline .tag-preview .tag-title {
        font-size: 12px;
        font-weight: 500;
        line-height: 1.2em;
        color: #ffffff; }
      .video-overlay .timeline .tag-preview .tag-button {
        display: flex;
        height: 30px;
        width: 100px;
        padding: 0 5px;
        margin-right: 10px;
        margin-left: auto;
        font-size: 11px;
        letter-spacing: 0em; }
      @media (min-width: 767px) {
        .video-overlay .timeline .tag-preview {
          background: white;
          width: 250px;
          height: 60px;
          bottom: 20px;
          transform: translateX(0);
          margin-left: 0;
          left: 25%; }
          .video-overlay .timeline .tag-preview .tag-img {
            width: 50px;
            height: 50px;
            min-width: 50px;
            margin: 5px 20px 5px 5px; }
          .video-overlay .timeline .tag-preview .tag-title {
            color: #454463;
            text-transform: uppercase; }
          .video-overlay .timeline .tag-preview .tag-button {
            display: none; } }
      .video-overlay .timeline .tag-preview.disapper {
        opacity: 0;
        bottom: 0px;
        transition-duration: 0s; }
    @media (min-width: 767px) {
      .video-overlay .timeline {
        bottom: 25px; } }
  .video-overlay .details {
    width: 100%;
    height: 100%; }
    .video-overlay .details.active {
      background-color: rgba(0, 0, 0, 0.6); }
    .video-overlay .details > .overlay-blocker {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit; }
    .video-overlay .details .detail {
      position: absolute;
      top: 0;
      right: -100%;
      width: inherit;
      height: inherit;
      padding: 10px; }
      .video-overlay .details .detail:first-child {
        opacity: 0;
        right: 0; }
      .video-overlay .details .detail.appear {
        right: 0;
        transition: all 0.4s ease-in-out; }
        .video-overlay .details .detail.appear:first-child {
          opacity: 1;
          transition: all 0.3s ease-in-out; }
      .video-overlay .details .detail.disappear-right {
        transition: all 0.4s ease-in-out;
        right: 100%; }
        .video-overlay .details .detail.disappear-right:first-child {
          transition: all 0.4s ease-in-out; }
      .video-overlay .details .detail > div {
        border-radius: 10px;
        overflow: hidden;
        background: white;
        width: inherit;
        height: inherit;
        display: flex;
        transition-duration: 0s; }
        .video-overlay .details .detail > div .detail-img {
          width: 40%;
          height: inherit;
          background-size: cover;
          flex: 3;
          background-color: white; }
        .video-overlay .details .detail > div .detail-content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 5;
          padding: 20px; }
          .video-overlay .details .detail > div .detail-content .text {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%; }
          .video-overlay .details .detail > div .detail-content h3 {
            font-size: 16px;
            line-height: 1.2em;
            margin-bottom: 0.6em;
            margin-top: 0;
            font-weight: 400; }
          .video-overlay .details .detail > div .detail-content p {
            font-size: 12px;
            line-height: 14px; }
          .video-overlay .details .detail > div .detail-content .wt-button {
            display: inline-flex;
            letter-spacing: 0;
            height: 36px;
            padding: 0 30px;
            margin-top: auto; }
        .video-overlay .details .detail > div .button-circular {
          position: absolute;
          right: 5px;
          top: 5px;
          border-color: transparent; }
          .video-overlay .details .detail > div .button-circular i {
            color: #8B909F; }
        @media (min-width: 767px) {
          .video-overlay .details .detail > div {
            border-radius: 0; }
            .video-overlay .details .detail > div .detail-img {
              flex: 5; }
            .video-overlay .details .detail > div .detail-content {
              padding: 80px 70px;
              flex: 6; }
              .video-overlay .details .detail > div .detail-content h3 {
                font-size: 36px; }
              .video-overlay .details .detail > div .detail-content p {
                font-size: 20px;
                line-height: 1.7em; }
              .video-overlay .details .detail > div .detail-content .wt-button {
                height: 64px;
                padding: 0 60px;
                font-size: 20px;
                font-weight: 500; }
            .video-overlay .details .detail > div .button-circular {
              right: 20px;
              top: 20px;
              border-color: #E4EBF0;
              height: 40px;
              width: 40px; }
              .video-overlay .details .detail > div .button-circular i {
                color: #454463; }
              .video-overlay .details .detail > div .button-circular:hover, .video-overlay .details .detail > div .button-circular.filled {
                border-color: #F5F7FA;
                background: #F5F7FA; }
                .video-overlay .details .detail > div .button-circular:hover i, .video-overlay .details .detail > div .button-circular.filled i {
                  color: #8B909F; } }
      @media (min-width: 767px) {
        .video-overlay .details .detail {
          padding: 0px; } }
      .video-overlay .details .detail.leadgen input.large {
        margin-top: 20px; }
      .video-overlay .details .detail.offers .detail-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0; }
      .video-overlay .details .detail.offers .detail-content {
        z-index: 1;
        align-items: flex-end;
        justify-content: flex-start; }
        .video-overlay .details .detail.offers .detail-content .text {
          justify-content: flex-end;
          height: auto; }
          .video-overlay .details .detail.offers .detail-content .text > div {
            display: flex; }
          .video-overlay .details .detail.offers .detail-content .text .button-circular {
            position: relative;
            width: 64px;
            height: 64px;
            top: 0;
            left: 20px;
            background-color: white;
            border-color: white; }
            .video-overlay .details .detail.offers .detail-content .text .button-circular i {
              color: black;
              font-size: 24px; }
        .video-overlay .details .detail.offers .detail-content h3 {
          color: white;
          font-weight: 500;
          max-width: 600px; }
        .video-overlay .details .detail.offers .detail-content .wt-button {
          padding: 0 50px; }
      .video-overlay .details .detail.offers .button-circular i {
        color: white; }
      .video-overlay .details .detail.booking .detail-content {
        padding: 60px; }
        .video-overlay .details .detail.booking .detail-content .text {
          justify-content: flex-end;
          height: auto; }
          .video-overlay .details .detail.booking .detail-content .text > div {
            display: flex; }
          .video-overlay .details .detail.booking .detail-content .text .button-circular {
            position: relative;
            width: 64px;
            height: 64px;
            top: 0;
            left: 0px;
            background-color: white;
            margin-left: 20px; }
            .video-overlay .details .detail.booking .detail-content .text .button-circular i {
              color: black;
              font-size: 24px; }
      .video-overlay .details .detail.booking .stars i {
        color: #FDD835;
        font-size: 18px;
        margin-right: 10px;
        margin-bottom: 10px; }
      .video-overlay .details .detail.booking .location {
        font-size: 16px;
        color: #8B909F;
        display: flex;
        margin-bottom: 20px; }
    @media (min-width: 767px) {
      .video-overlay .details {
        background-color: transparent; } }
    .video-overlay .details.platform-fake-player-details .detail {
      right: 0;
      opacity: 0;
      z-index: 0; }
      .video-overlay .details.platform-fake-player-details .detail.appear-fade {
        z-index: 3 !important;
        animation: fadeIn 0.4s ease-in-out;
        opacity: 1; }
      .video-overlay .details.platform-fake-player-details .detail.disappear-fade {
        z-index: 1;
        opacity: 1; }
